/* Universal Styles */

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

section {
  width: 100%;
  display: flex;
}

h1  {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1B202B;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-family: font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #424242;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #1B202B;
  font-size: 2rem;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #1B202B;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-family: font-family: 'Merriweather', serif;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;

}

/* Header */

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 27px;
}

.logo img {
  height: auto;
  width: 2.5rem;
}

#colmar {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #424344;
}

#academy {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #687083;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #1B202B;
}
nav.mobile {
  display: none;
}

/* Section 1 Banner*/

section.banner {
  top: 64px;
  background-color: #e8e8e8;

}

.banner-img {
  width: 60%;
  height: auto;
  margin: 32px 40px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 320px;
}

.banner-content a {
  background-color: #1B202B;
  width: 100%;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  transition: color 200ms ease 300ms;
}

.banner-content a:hover {
  background-color: #CBA93C;
  color: #1B202B;
}

/* Section 2 Information */

.feature-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 32px 24px;
}

.feature-content img {
  width: 100%;
  height: auto;
  margin-bottom: 32px
}

.feature-content h5 {
  margin-bottom: 24px;

}

.feature-content span {
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #687083;
  margin-top: 30px;

}

.sidebar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ededed;
  padding-bottom: 32px;
  width: 40%;
}

.sidebar div:first-child {
  padding-top: 16px;
  border-bottom: 1px solid #ededed;
}

.sidebar div:nth-child(3n) {
  background-color: #e8e8e8;
}

.sidebar-block {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.sidebar-block img {
  width: 35%;
  margin: 16px 16px 16px 16px;
}

.sidebar-mobile {
  display: none;
}

.textbox {
  margin-right: 16px
}

.textbox p {
  font-family: 'Merriweather', serif;
  margin-bottom: 1.25rem;
}

.textbox a {
  font-family: 'Open Sans', sans-serif;
  color: #404655;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: none;
}

.textbox a:hover {
  color: #1B202B;
}

/* Section 3 Courses */

.courses {
  display: block;
  background-color: #e8e8e8;
}

.courses h5 {
  width: 100%;
  text-align: center;
  padding-top: 32px;

}
.courses p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.courses span {
  letter-spacing: 1px;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 64px 32px 64px;

}

.course-holder {
  width: 260px;
  background-color: white;
  margin-right: 32px;
  margin-bottom: 16px;
}

.course-holder img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.course-holder .textbox {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.course-holder .textbox span {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  color: #687083;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.courses-mobile {
  display: none;
}
